.container {
    margin    : 20px auto;
    position  : relative;
    min-height: 100vh;
}

.container h2 {
    margin-bottom: 40px;
}

.container>.row {
    margin: 10px 0;
}

.container .otp {
    text-align: center;
}

.btn.btn-warning.btn-block.btn-lg {
    color: white;
}

.container .form-otp-wrapper {
    width : 473px;
    margin: 0 auto;
}

.container h3 {
    margin-bottom: 45px;
    margin-top   : 50px;
    text-align   : center;
}

.otp-input-satuan {
    height: 72px;
}

.container .registration-container {
    border-right: 1px solid #dadada;
}

.container form .row.form-submit {
    margin-top   : 20px;
    margin-bottom: 20px;
}

.container .profile-container {
    position: relative;
}

.container .profile-picture-fluid {
    border       : 2px solid #fafafa;
    border-radius: 5px;
    position     : absolute;
    top          : 80%;
    left         : 50%;
    transform    : translate(-50%, -80%);
    width        : 180px;
}

.container .upload-image-preview img {
    width: 15%;
}

.container .form-upload-profile-picture form button {
    font-weight: 600;
    margin: 10px 0 20px;
    font-size: 12px;
    text-transform: uppercase;
}

footer {

    background-color: #343a40 !important;
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    height          : 2.5rem;
    line-height     : 2.5rem;
}

footer span {
    color     : #fff;
    display   : block;
    font-size : 10px;
    text-align: center;
}
